.courseHighlights {
  display: flex;
  padding: 50px 10%;
  gap: 30px;
}

.courseHighlights-image {
  box-shadow: 2px 2px 20px 2px rgb(243, 59, 22);
  min-width: 590px;
  border-radius: 10px;
}

.courseHighlights-right {
}

.courseHighlights-left {
}

.courseHighlights-left h2 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "yekanBold";
}

.courseHighlights-left-p1,
.courseHighlights-left-p2 {
  font-size: 13px;
  line-height: 2.2;
  text-align: justify;
  margin-top: 10px;
}

@media screen and (max-width: 1688px) {
  .courseHighlights-left-p1,
  .courseHighlights-left-p2 {
    font-size: 12px;
    line-height: 2;
  }
}
@media screen and (max-width: 1508px) {
  .courseHighlights {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 722px) {
  .courseHighlights-image {
    min-width: 100px;
    width: 100%;
  }

  .courseHighlights-left h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "yekanBold";
  }
}
