.offer {
  display: flex;
  gap: 100px;
  height: 27px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    120deg,
    var(--red-color),
    var(--orange-color),
    rgb(246, 173, 36)
  );
  font-family: "vazirFD";
  position: relative;
  font-size: 14px;
}

.offerCloseBtn {
  position: absolute;
  right: 10px;
  font-size: 19px;
  cursor: pointer;
}

.offerClosed {
  display: none;
}

.offCountdown {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 888px) {
  .offer {
    font-size: 13px;
  }
  .offCountdown {
    gap: 10px;
    font-size: 16px;
  }
}

@media screen and (max-width: 716px) {
  .offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1px;
    padding: 4px 0;
  }
}

@media screen and (max-width: 390px) {
  .offText {
    font-size: 11px;
  }

  .offCountdown {
    font-size: 14px;
  }
}
