.offer {
  display: flex;
  gap: 100px;
  height: 27px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    120deg,
    var(--red-color),
    var(--orange-color),
    rgb(246, 173, 36)
  );
  font-family: "vazirFD";
  position: relative;
  font-size: 14px;
}

.offerCloseBtn {
  position: absolute;
  right: 10px;
  font-size: 19px;
  cursor: pointer;
}

.offerClosed {
  display: none;
}
