.iconsectionContainer {
  padding: 100px 10% 0 10%;
  height: 100%;
}

.iconBox {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 120px;
  font-family: "yekanBold";
  border-radius: 15px;
  cursor: pointer;
}

.iconBox-icon {
  font-size: 35px;
}

.iconBox:hover {
  background-color: var(--link-color);
}

@media screen and (max-width: 530px) {
  .iconBox-icon {
    font-size: 30px;
  }

  .iconBox p {
    font-size: 13px;
  }

  .iconBox {
    height: 100px;
  }
}
