.mainModal h1 {
  font-size: 52px;
  font-weight: bold;
  color: rgb(23, 156, 85);
}

.modalWrapper {
  position: fixed;
  width: 100vw;
  /* height: 100vh; */
  min-height: 100vh;
  top: 0;
  right: 0;
  border-radius: 10px;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  transition: all ease-in-out 0.3s;
}

.mainModal {
  background-color: #fff;
  padding: 50px 50px;
  color: #333;
  max-width: 500px;
  position: absolute;
  top: 20%;
  right: 39%;
}

.closeModal {
  font-weight: bold;
  position: absolute;
  top: -50px;
  right: 0;
  height: 50px;
  width: 100%;
  background-color: var(--red-color);
  color: #fff;
}

.modalHidden {
  display: none;
}
