.allCourses {
  padding: 150px 10%;
}

.allCoursesHeader {
  margin-bottom: 20px;
}

.allCourses p {
  font-family: "vazirRegular";
  font-size: 14px;
  margin-top: 5px;
}

.allCourses-courseBox-imageContainer img {
  width: 100%;
}

.allCoursesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coursesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 12px;
}

.allCourses-courseBox {
  background-color: var(--secondary-color);
  box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

.allCourses-courseBox-contentWrapper {
  padding: 12px 14px;
}

/* CONTENT PART */

.allCourses-courseBox-content p {
  font-family: "vazirRegular";
  font-size: 11px;
  text-align: justify;
  line-height: 1.9;
}

.allCourses-courseBox-details {
  font-family: "vazirFD";
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 13px;
  margin: 10px 0;
}

.allCourses-courseBox-details span:first-child {
  background-color: tomato;
  padding: 3px 6px;
  border-radius: 2px;
  color: #fff;
  font-size: 10px;
  text-decoration: line-through;
}

.allCourses-courseBox-details span:nth-child(2) {
  background-color: rgb(13, 139, 109);
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 2px;
  color: #fff;
}

.allCourses-courseBox-details span:nth-child(3) {
  background-color: steelblue;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 2px;
  color: #fff;
}

.allCourses-courseBox-details span:nth-child(4) {
  background-color: rgb(62, 57, 115);
  padding: 3px 6px;
  font-size: 11px;
  border-radius: 2px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
}

.studentIcon {
  font-size: 15px;
}

.allCourses-courseBox-btnContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}
.allCourses-ReadmoreBtn {
  background-color: var(--orange-color);
  color: #fff;
  padding: 5px 9px;
  font-family: "yekanRegular";
  font-size: 11px;
  font-weight: 300;
}

.allCourses-buyBtn {
  background-color: var(--red-color);
  padding: 6px 8px;
  font-family: "yekanRegular";
  font-size: 12px;
  font-weight: 900;
  border: none;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMoreBtn {
  border: none;
  padding: 3px 3px;
  font-family: "yekanRegular";
  border-bottom: solid 2px var(--red-color);
  color: var(--text-color);
  cursor: pointer;
  margin-top: 20px;
  background-color: transparent;
  transition: all ease-in-out 0.1s;
}

.loadMoreBtn:hover {
  border-bottom: solid 2px var(--orange-color);
}
