@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #202938;
  --secondary-color: #111828;
  --red-color: #f43219;
  --orange-color: #eb671c;
  --link-color: #757e8d;
}

/* FONTS */
@font-face {
  font-family: "yekanRegular";
  src: url("../assets/fonts/yekan.ttf");
}

@font-face {
  font-family: "yekanBold";
  src: url("../assets/fonts/yekanBold.ttf");
}

@font-face {
  font-family: "vazirRegular";
  src: url("../assets/fonts/vazir.ttf");
}

@font-face {
  font-family: "vazirLight";
  src: url("../assets/fonts/vazirLight.ttf");
}

@font-face {
  font-family: "vazirBold";
  src: url("../assets/fonts/vazirBold.ttf");
}

body {
  background-color: var(--primary-color);
  color: #fdfdfd;
}
