.header {
  background-color: var(--secondary-color);
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  animation: fadein 1s;
  height: 130px;
}

@keyframes fadein {
  0% {
    opacity: 0;
    top: -50;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

/* Header Top */
.headerTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 6% 0 6%;
}

/* Header Top Right */

.headerTop-right {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.headerTop-right-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.headerTop-right-searchbar {
  width: 100%;
  max-width: 500px;
}

.headerTop-right-searchbar form {
  position: relative;
}

.headerTop-right-searchbar input {
  padding: 11px 15px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 13px;
  border-radius: 0 6px 6px 0;
  background-color: var(--primary-color);
}

.headerTop-right-searchbar-btn {
  position: absolute;
  background: linear-gradient(
    120deg,
    var(--red-color),
    var(--orange-color),
    rgb(246, 173, 36)
  );
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 6px 0 0 5px;
  font-family: "vazirBold";
  border: none;
  outline: none;
}
.headerTop-right-searchbar-btn:hover {
  background: linear-gradient(
    140deg,
    var(--red-color),
    var(--orange-color),
    rgb(245, 156, 14)
  );
}

/* Header Top Left */
.headerTop-left {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  align-items: center;
  font-size: 18px;
  /* width: 100%; */
}

.headerTop-left-user {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.header-user-icon {
  font-size: 20px;
}
.header-user-icon:hover {
  color: var(--orange-color);
}

.headerTop-left-cart {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.header-cart-icon {
  font-size: 20px;
}

.header-cart-icon:hover {
  color: var(--orange-color);
}

.cartQuantity {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: orangered;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding-top: 1px;
  font-family: "vazirFD";
  top: -12px;
  left: -12px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1054px) {
  .headerTop-right-searchbar input {
    width: 90%;
  }
}

@media screen and (max-width: 1054px) {
  .headerTop-right-logo {
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .headerTop-right {
    gap: 1px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 35px;
    top: 40px;
    font-size: 23px;
  }

  .header {
    background-color: var(--secondary-color);
    height: 110px;
  }

  .headerTop {
    padding: 30px 9% 0 9%;
  }
  .headerTop-right-searchbar input {
    width: 100%;
  }
  .headerTop-right-logo p {
    display: none;
  }

  .headerTop-right-searchbar {
    width: 100%;
  }

  .headerTop-right-searchbar form {
    position: relative;
    width: 100%;
    padding: 0 20px;
  }
  .headerTop-right-searchbar-btn {
    left: 20px;
  }
}

@media screen and (max-width: 840px) {
  .headerTop-right-searchbar input {
    width: 100%;
  }
  .headerTop-right-searchbar form {
    width: 100%;
  }
}

@media screen and (max-width: 756px) {
  .hamburger {
    right: 20px;
  }
}
@media screen and (max-width: 592px) {
  .headerTop-right-searchbar form {
    display: none;
  }
  .hamburger {
    right: 20px;
  }

  .headerTop-right-logo {
    position: absolute;
    right: 53px;
  }
  .header-logo-image {
    width: 32px;
    padding-top: 4px;
  }

  .header {
    height: 90px;
  }
}
