.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "yekanRegular";
  height: 80px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 15px 5%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* RIGHT - LOGO & LINKS */

.logoAndLinks {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  /* background-color: tomato; */
}

.headerLogo {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.headerLogo img {
  width: 30px;
}

.headerLogo p {
  font-weight: bold;
  font-size: 13px;
  color: var(--text-color);
}

.headerLinks {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.headerLinkItem {
  color: var(--text-color);
  font-size: 13px;
  font-weight: bold;
  padding: 4px 7px;
  border-radius: 5px;
}

.headerLinkBtn {
  color: var(--text-color);
  font-size: 13px;
  font-weight: bold;
  background: transparent;
  border: none;
  font-family: "yekanRegular";
  padding: 4px 7px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.headerLinkItem:hover {
  background-color: var(--link-color);
}

.headerLinkBtn:hover {
  background-color: var(--link-color);
}

.countDownContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.offIcon {
  font-size: 24px;
  color: var(--text-color);
}

/* LEFT - BUTTONS */

.headerIcons {
  /* background-color: steelblue; */
  display: flex;
  gap: 8px;
}

.headerIcons button {
  padding: 8px 11px;
  font-size: 18px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: all ease-in-out 0.1s;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.headerIcons img {
  width: 18px;
}

.headerIcons button:hover {
  transform: translateY(-0.8px);
}

.hamburgerContainer {
  display: none;
}

.hamburgerBtn {
  background: transparent;
  margin-top: 13px;
  margin-right: 10px;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.megaMenuHeader {
  position: absolute;
}

@media screen and (max-width: 1395px) {
  .countDownContainer {
    display: none;
  }
}

@media screen and (max-width: 987px) {
  .headerLinks {
    display: none;
  }
  .hamburgerContainer {
    display: block;
  }
}
